html, body, #root {
    margin: 0;
    padding-top: 5px;
    height: 100%;
    text-align: center;
    font-size: x-large;
    background-image: linear-gradient(45deg, rgb(47, 0, 255), hsl(185, 60%, 48%),rgb(213, 212, 218));
}

a {
    color: black;
}
